* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* CORES */

    --background-color: #FFF;
    --stroke-color: #8A8A8A;
    --color-button: #216498;
    --hover-color: #216498;
}